h1 {
    margin: 0;
    text-align: center;
}

.centre {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    border: solid 3px grey;
    margin-left: -50px;
    margin-top: -50px;
    text-align: center;
    background: white;
    border-radius: 50px;
}

.gender-question {
    background: url("/assets/images/gender.png") no-repeat center center;
    background-size: contain; 
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.wrapper .cell {
    flex: 1 1 auto;
    width: 49%;
    height: 42vh;
    text-align: center;
    cursor: pointer;
}

.wrapper .cell:hover {
    font-weight: bold;
    text-decoration: underline;
    background-size: auto 70% !important;
}

.wrapper .cell {
    text-decoration: none;
}

.wrapper .cell.Female-1988 {
    background: url('/assets/images/1988-Female.jpg') no-repeat center center;
    background-size: auto 60%;
}

.wrapper .cell.Female-2017 {
    background: url('/assets/images/2017-Female.jpg') no-repeat center center;
    background-size: auto 60%;
}

.wrapper .cell.Female-2050 {
    background: url('/assets/images/2020-Female.jpg') no-repeat center center;
    background-size: auto 60%;
}

.wrapper .cell.Male-1988 {
    background: url('/assets/images/1988-Male.jpg') no-repeat center center;
    background-size: auto 60%;
}

.wrapper .cell.Male-2017 {
    background: url('/assets/images/2017-Male.jpg') no-repeat center center;
    background-size: auto 60%;
}

.wrapper .cell.Male-2050 {
    background: url('/assets/images/2020-Male.jpg') no-repeat center center;
    background-size: auto 60%;
}