.centre {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    border: solid 1px lightgray;
    margin-left: -50px;
    margin-top: -50px;
    text-align: center;
    background: white;
    border-radius: 50px;
}

.gender-question {
    background: url("/assets/images/gender.png") no-repeat center center;
    background-size: contain; 
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.wrapper .cell {
    flex: 1 1 auto;
    width: 49%;
    height: 42vh;
    text-align: center;
}

.wrapper .cell a {
    font-size: 2em;
    color: purple;
    text-decoration: none;
    padding-top: 2em;
}

.wrapper .cell.Female-1988 {
    background: url('/assets/images/1988-Female.jpg') no-repeat center center;
    background-size: contain;
}

.wrapper .cell.Female-2017 {
    background: url('/assets/images/2017-Female.jpg') no-repeat center center;
    background-size: contain;
}

.wrapper .cell.Male-1988 {
    background: url('/assets/images/1988-Male.jpg') no-repeat center center;
    background-size: contain;
}

.wrapper .cell.Male-2017 {
    background: url('/assets/images/2017-Male.jpg') no-repeat center center;
    background-size: contain;
}